{% extends "base.html" %}
{% block content %}

  <div class="uk-grid" data-uk-grid-margin>

    <div class="uk-width-medium-1-1">
      <div id='cover' class="uk-vertical-align uk-text-center cover uk-panel uk-panel-box uk-margin-remove" style="background-image: url('{{ SITEURL }}/static/images/cover.jpg');">

         <div class="uk-vertical-align-middle uk-width-1-1">
          <h1 class="front-page uk-heading-large">{{ page.title }}</h1>
  <!--
           <p>
            <a class="uk-button uk-button-large" href="http://eshop.qmul.ac.uk/browse/extra_info.asp?compid=1&modid=2&deptid=34&catid=1&prodid=521">Register</a>
          </p>
   -->
         </div>

        <div class="uk-vertical-align-bottom uk-float-left" style="margin-top: -120px">

          <div class="uk-thumbnail uk-overlay-hover uk-border-circle">
            <figure class="uk-overlay">
              <img class="uk-border-circle" src="{{ SITEURL }}/static/images/me.jpg" alt="Dmitrijs Milajevs" width="150" height="150">
              <figcaption class="uk-overlay-panel uk-overlay-background uk-flex uk-flex-center uk-flex-middle uk-text-center uk-border-circle">
                <div>
                  <a href="mailto:d.milajevs@qmul.ac.uk" class="uk-icon-button uk-icon-envelope"></a>
                  <a href="https://twitter.com/dimazest/" class="uk-icon-button uk-icon-twitter"></a>
                  <a href="https://github.com/dimazest/" class="uk-icon-button uk-icon-github"></a>
                  <a href="https://instagram.com/dimazest" class="uk-icon-button uk-icon-instagram"></a>
                </div>
              </figcaption>
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="uk-grid">

    <div class="uk-width-3-4">
      {{ page.content }}

      <h2 id="blog">Blog</h2>

      <ul>
      {% for article in dates %}
          <li>
              <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a>
          </li>
      {% endfor %}
      </ul>

    </div>

    <div class="uk-width-large-1-4">
      <div class="uk-sticky-placeholder" style="height: 270px;">
        <div class="uk-panel uk-panel-box" data-uk-sticky="{top:35}">
          <h2 class="uk-h3">Contact</h2>

          <dl>
            <dt>Email</dt>
            <dd><a class="reference external" href="mailto:d.milajevs@qmul.ac.uk">d.milajevs@qmul.ac.uk</a></dd>
            <dt>Office</dt>
            <dd>CS438</dd>
          </dl>

        </div>
      </div>
    </div>

{% endblock content %}
